.cc-top-level-card {
  padding: 1em;
  margin-bottom: 2em;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.noticeAlertIcon {
  color: #d8292f !important;
}
.noticeAlert {
  font-size: medium;
  color: #d8292f;
  font-family: 'BCSans', Verdana, Arial, sans-serif;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #f2dede;
  border: 1px solid #d8292f;
}

.noticeWaringIcon {
  color: #6c4a00 !important;
}
.noticeWarning {
  font-size: medium;
  color: #6c4a00;
  font-family: 'BCSans', Verdana, Arial, sans-serif;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #f9f1c6;
  border: 1px solid #6c4a00;
}

.noticeInfoIcon {
  color: #003366 !important;
}
.noticeInfo {
  font-size: medium;
  color: #313132;
  font-family: 'BCSans', Verdana, Arial, sans-serif;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #c1dcf6;
  border: 1px solid #313132;
}

.disabledButton {
  background-color: rgba(0, 0, 0, 0.12) !important;
  color: rgba(0, 0, 0, 0.26) !important;
  box-shadow: none !important;
}

.blueButton {
  color: white !important;
  background-color: #003366 !important;
}

.stickyNavButtons {
  position: sticky;
  bottom: 0;
  padding: 10px 0px;
  background-color: lightgray;
  z-index: 2;
}

@keyframes bone {
  to {
    background-position: 100% 0;
  }
}

/** Vuetify overrides */
.v-data-table__th {
  font-weight: 600 !important;
  background-color: #f2f2f2 !important;
}

.v-table .v-table__wrapper {
  font-size: 1rem;
}

.v-tab .v-btn__content {
  font-weight: bold;
  font-size: 16px;
}

.application-label .v-label {
  margin-left: 0 !important;
  white-space: normal !important;
  overflow-wrap: break-word !important;
}

.error-message {
  color: #d8292f !important;
  font-size: 12px;
  animation: 0.5s move-from-top;
}
@keyframes move-from-top {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.font-large {
  font-size: 18px;
}

.font-regular {
  font-size: 16px;
}

.font-small {
  font-size: 14px;
}

.font-xsmall {
  font-size: 12px;
}

.border-right {
  border-right: 0.5px solid lightgray;
}

.border-bottom {
  border-bottom: 0.5px solid lightgray;
}

.card-title {
  color: #003466;
  font-size: 20px;
  font-weight: bold;
  background-color: #e5e4e4;
}

.pointer-events-none {
  pointer-events: none;
}

.span-label {
  color: #636262;
  font-style: normal;
  font-family: 'BCSans', Verdana, Arial, sans-serif;
}

div.text-h4,
h4.text-h4,
p.text-h4,
span.text-h4,
div.text-h5,
h5.text-h5,
p.text-h5,
span.text-h6,
div.text-h6,
h5.text-h6,
p.text-h6,
span.text-h6,
div.text-body-1,
p,
ul,
li,
ol,
div.text-body-2 {
  font-family: 'BCSans', Verdana, Arial, sans-serif;
}
ol.declarationBList {
  padding-top: 10px;
  padding-left: 20px;
  list-style-position: inside;
}

.status-gray {
  background-color: #e0e0e0;
  border-radius: 5px;
  padding: 2px 6px 2px 6px;
  display: inline-block;
  min-width: 90px;
  text-align: center;
}

.status-green {
  background-color: #dff0d8;
  border-radius: 5px;
  padding: 2px 6px 2px 6px;
  display: inline-block;
  min-width: 90px;
  text-align: center;
}

.status-mint {
  background-color: #b6efd3;
  border-radius: 5px;
  padding: 2px 6px 2px 6px;
  display: inline-block;
  min-width: 90px;
  text-align: center;
}

.status-yellow {
  background-color: #f9f1c6;
  border-radius: 5px;
  padding: 2px 6px 2px 6px;
  display: inline-block;
  min-width: 90px;
  text-align: center;
}

.status-red {
  background-color: #f2dede;
  border-radius: 5px;
  padding: 2px 6px 2px 6px;
  display: inline-block;
  min-width: 90px;
  text-align: center;
}

.status-blue {
  background-color: #bbdefb;
  border-radius: 5px;
  padding: 2px 6px 2px 6px;
  display: inline-block;
  min-width: 90px;
  text-align: center;
}

.status-purple {
  background-color: #ba93d1;
  border-radius: 5px;
  padding: 2px 6px 2px 6px;
  display: inline-block;
  min-width: 90px;
  text-align: center;
}

.status-orange {
  background-color: #ffd180;
  border-radius: 5px;
  padding: 2px 6px 2px 6px;
  display: inline-block;
  min-width: 90px;
  text-align: center;
}

/* SUMMARY DECLARATION */
.summary-label {
  color: grey;
  font-size: small;
}

.summary-value {
  font-size: medium;
  color: black;
}

.v-card.soft-outline {
  border: 1px solid #00000040;
}

/* Styles for input boxes used in Manage Organization/Facilities */
.less-jitter input {
  padding-top: 0;
  font-size: 1rem;
  letter-spacing: 0.03125em;
  min-height: 0;
}

.less-jitter label.v-label {
  top: 0;
}
