.cc-top-level-card {
  padding: 1em;
  margin-bottom: 2em;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.noticeAlertIcon {
  color: #d40d19 !important;
}
.noticeAlert {
  font-size: medium;
  color: #d40d19;
  font-family: "BCSans", Verdana, Arial, sans-serif;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #f2dede;
  border: 1px solid #d40d19;
}

.noticeWaringIcon {
  color: #6c4a00 !important;
}
.noticeWarning {
  font-size: medium;
  color: #6c4a00;
  font-family: "BCSans", Verdana, Arial, sans-serif;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #f9f1c6;
  border: 1px solid #6c4a00;
}

.noticeInfoIcon {
  color: #003366 !important;
}
.noticeInfo {
  font-size: medium;
  color: #313132;
  font-family: "BCSans", Verdana, Arial, sans-serif;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #c1dcf6;
  border: 1px solid #313132;
}

.ccof-skeleton-loader input {
  width: 100%;
  display: block;
  background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0.3), hsla(0, 0%, 100%, 0));
  background-color: rgba(0, 0, 0, 0.12);
  background-repeat: repeat-y;
  background-size: 50px 500px;
  background-position: 0 0;
  animation: bone 1.5s infinite;
  border-radius: 1em;
  color: transparent !important;
}

.ccof-skeleton-loader fieldset,
.ccof-skeleton-loader label,
.ccof-skeleton-loader .v-card__subtitle,
.ccof-skeleton-loader .v-input--radio-group {
  visibility: hidden;
}

.disabledButton {
  background-color: rgba(0, 0, 0, 0.12) !important;
  color: rgba(0, 0, 0, 0.26) !important;
  box-shadow: none !important;
}

.blueButton {
  color: white !important;
  background-color: #003366 !important;
}

.stickyNavButtons {
  position: sticky;
  bottom: 0;
  padding: 10px 0px;
  background-color: lightgray;
  z-index: 2;
}

@keyframes bone {
  to {
    background-position: 100% 0;
  }
}

/** Vuetify overrides */
.v-data-table__th {
  font-weight: 600 !important;
  background-color: #f2f2f2 !important;
}

.v-table .v-table__wrapper {
  font-size: 1rem;
}

.error-message {
  color: #ff5252;
}

.font-large {
  font-size: 18px;
}

.font-regular {
  font-size: 16px;
}

.font-small {
  font-size: 14px;
}

.font-xsmall {
  font-size: 12px;
}

.border-right {
  border-right: 0.5px solid lightgray;
}

.border-bottom {
  border-bottom: 0.5px solid lightgray;
}

.card-title {
  color: #003466;
  font-size: 20px;
  font-weight: bold;
  background-color: #e5e4e4;
}

.span-label {
  color: #636262;
  font-style: normal;
  font-family: "BCSans", Verdana, Arial, sans-serif;
}

div.text-h4,
h4.text-h4,
p.text-h4,
span.text-h4,
div.text-h5,
h5.text-h5,
p.text-h5,
span.text-h6,
div.text-h6,
h5.text-h6,
p.text-h6,
span.text-h6,
div.text-body-1,
div.text-body-2 {
  font-family: "BCSans", Verdana, Arial, sans-serif;
}
ol.declarationBList {
  padding-top: 10px;
  padding-left: 20px;
  list-style-position: inside;
}
