/target/
# Ignore properties file
config.properties

# Ignore Extent Reports folder
/extent-reports/

# Ignore Logs folder
/logs/
/test-output/
/screenshots/

# Ignore IDE specific files
**/.classpath
**/.project
**/.settings/
